.elektron{
   width: 100%;
   margin: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../../assets/bgElek.jpg) center/cover no-repeat fixed;
   background-size: cover;
   height: 60vh;
  text-align: center;
  
 }