.custom_gradient {
  width: 100%;
   margin: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/lib.jpg) center/cover no-repeat fixed;
   background-size: cover;
   height: 90vh;
   display: flex; 
   align-items: center;
   justify-content: center;
  
}