.books{
   width: 90%;
   margin: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/bgBooks3.jpg) center/cover no-repeat fixed;
   background-size: cover;
   height: 60vh;
   display: flex; 
   align-items: center;
   justify-content: center;
  
 }